# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
venv/

# Django stuff:
*.log
staticfiles/
media/

# Migrations
migrations/

# Pytest
.cache

# VSCode
.vscode/

.env.*

# Node modules
frontend/node_modules/

# Build output
frontend/dist/

# Environment files
frontend/.env*
backend/.env*

# OS files
.DS_Store
Thumbs.db
